.bg-color{
    background-color: #E9F1E3;
}
.card-btn{
    width: 350px;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 50px;
    background: #62c9ef;
    color: #E9F1E3;
    border-radius: 10px;
}